
/* use for the header */
.score {
    
};


/* use fore the body */
.body {
    background-color: black;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
};



/* use for footer */
.copy_rights {
  
};